# Ignore compiled binaries
Linked-List/Linked-List
Stack/Stack
Stack_ll/StackLL
Queue/Queue
Queue_ll/QueueLL
Tree/Tree
Hash-Table/HashTable

# Ignore common compiled files
*.out
*.exe

# Ignore editor settings
.vscode/
